#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th,
#myTable td {
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
}

body {
  font-family: "sans", Arial, sans-serif;
  font-size: 75%;
}

h2 {
  color: var(--heading-color);
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.25em;
  margin-bottom: 16px;
}

#myTable tr td:nth-child(2),
#myTable tr td:nth-child(3),
#myTable tr td:nth-child(4),
#myTable tr td:nth-child(5),
#myTable tr td:nth-child(6) {
  text-align: center;
}

.cheapest {
  background-color: rgba(7, 255, 7, 0.432);
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.search-input {
  width: 90%;
  font-size: 1.6rem;
  border-radius: 25px;
}

.filter > * {
  display: inline-block;
}

#ProductsDropdown {
  width: 20%;
  height: 40px;
  font-size: 20px;
}

#FiltrerPar {
  padding-right: 1rem;
}

img {
  max-width: 17.5%;
  height: auto;
  position: relative;
  top: 0.25rem;
  padding: 1rem;
}

h2
 {
  text-align: center;
  position: relative;  
}

.footer {
  padding-top: 7px;
  text-align: center;
}

.headcol {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 35%;
    height: auto;
    position: relative;
    top: 0.25rem;
    padding: 1rem;
  }
  .footer {
      position: absolute;
      left: 500px;
  }

}

#myTable tr td:nth-child(1) {
  max-width: 17.5%;
}

#myTable tr {
text-align: center;
}

body {
  overflow-x: hidden;
}