#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.search-input {
  width: 90%;
  font-size: 1.6rem;
  border-radius: 25px;
}

.cheapest {
  background-color: rgba(7, 255, 7, 0.432);
}

.cheapest{
	animation: blinkingText 1.2s infinte;
}

@-webkit-keyframes cheapest {
  0% { background-color: rgba(7, 255, 7, 0.432); }
  50% { background-color: inherit; }
  100% { background-color: rgba(7, 255, 7, 0.432); }

}
@-moz-keyframes cheapest {
  0% { background-color: rgba(7, 255, 7, 0.432); }
  50% { background-color: inherit; }
  100% { background-color: rgba(7, 255, 7, 0.432); }

}
@-o-keyframes cheapest {
  0% { background-color: rgba(7, 255, 7, 0.432); }
  50% { background-color: inherit; }
  100% { background-color: rgba(7, 255, 7, 0.432); }
}

@keyframes cheapest {
  0% { background-color: rgba(7, 255, 7, 0.432); }
  60% { background-color: inherit; }
  100% { background-color: rgba(7, 255, 7, 0.432); }
}
.cheapest {
  -webkit-animation: cheapest 1.8s ; /* Safari 4+ */
  -moz-animation:    cheapest 1.8s ; /* Fx 5+ */
  -o-animation:      cheapest 1.8s ; /* Opera 12+ */
  animation:         cheapest 1.8s ; /* IE 10+ */
}

.LogoH3P {
  flex-direction: column;
  text-align: center;
  }

.LogoH3P {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.filter{
  display: flex;
  align-items: center;
}



#ProductsDropdown {
  width: 20%;
  height: 40px;
  font-size: 20px;
}

#FiltrerPar {
  padding-right: 1rem;
}

img {
  max-width: 17.5%;
  height: auto;
  position: relative;
  top: 0.25rem;
  padding: 3rem;
}

#Mytable {
  display: flex;
}

#myTable {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th,
#myTable td {
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
}

body {
  font-family: "sans", Arial, sans-serif;
}

#myTable tr td:nth-child(1) {
  flex: 1 0 300px;
}

#myTable tr td:nth-child(2),
#myTable tr td:nth-child(3),
#myTable tr td:nth-child(4),
#myTable tr td:nth-child(5),
#myTable tr td:nth-child(6) {
  text-align: center;
  flex: 0 0 auto;
}


.footer {
  padding-top: 7px;
  text-align: center;
}

html
{
  overflow-x: hidden;
}